# report

1.EDA

2.预处理

暂时先做最简单的， NA->-1, Dummy 所有cata且个数<10的， std没做

3.BaseModel

Boosting Trees

RF

GridSearch

Fine Tuned Accuracy

    XGB
        param = {'eta': 0.02, 
                'max_depth': 4, 
                'subsample': 0.9, 
                'colsample_bytree': 0.9, 
                'objective': 'binary:logistic', 
                'eval_metric': 'auc', 
                'seed': 99, 
                'silent': True
               }  
    cv_accuracy = 0.2835
    test = 0.280

    LGBM1
        param = {
            'learning_rate' : 0.02,
            'n_estimators' : 650,
            'max_bin' : 10,
            'subsample' : 0.8,
            'subsample_freq' : 10,
            'colsample_bytree' : 0.8,
            'min_child_samples' : 500,
            'seed' : 99,
            }
    cv_accuracy = 0.2844
    test = 0.281

    LGBM2
        param = {
                'learning_rate' : 0.02,
                'n_estimators' : 1090,
                'subsample' : 0.7,
                'subsample_freq' : 2,
                'num_leaves' : 16,
                'seed' : 99,
                }
    cv_accuracy = 0.2833               
    test = 0.281

    RF
        param = {'n_estimators': 150,
                    'criterion': 'gini',
                    'max_features': 'log2',
                    'max_depth': 9,
                    'min_samples_split': 70,
                    'min_samples_leaf': 30,
                    'n_jobs' : -1,
                    'max_leaf_nodes': None,
                    'bootstrap': True,
                    'oob_score': True,
                    'random_state': 99,
                    'verbose': 0,
                    'warm_start': True,
                    'class_weight': {0: 0.0364, 1: 0.9635},
                    }
    cv_accuracy = 0.2589

4.Stacking

    stacking@test
        all_50%      : 0.272
        all_weighted : 0.273
        3_weighted   : 0.281
        3_50%        : 0.282

5.预处理测略

    不给dummy设置上限？变成227，看看看结果
    ->validation
        0.2840
        0.2842
        0.2838
    ->test@stacking
        0.283

    +missing&reg*car
        0.2844
        0.2851
        0.2839
    ->test@stacking
        0.282

    dimension reduction
    忽悠一下shadow
        0.2856
        0.2871
        0.2854
    ->test@stacking
        0.285

    NA的列都删了？(X)
    ->validation
        xgboost : 0.2529
        lgbm1   : 0.2502
        lgbm2   : 0.2510

std

    @xgboost
    None    0.2856     10:34 -> 12:01
    minmax  0.2855     13:23 -> 14:50 <-
    meanstd 0.2854     16:17 -> 17:48

NA

    bin/cata -> -1
    else ->mean
    @xg                0.2866
    @lgbm1             0.2881
    @lgbm2             0.2868
    ->test@stacking
        0.0285

    这里用EM既费时间假设不对又结果不好，只有binary比较好用GMM

类别没有被Dummy的进行分析

In [3]:
import numpy as np
import pandas as pd

In [12]:
A = np.arange(15).reshape(3,5)

In [13]:
df = pd.DataFrame(A)

In [27]:
df.columns = ['a','b','c','d','e']

In [28]:
df.loc[0, 'a'] = np.nan
df.loc[1, 'b'] = np.nan
df.loc[2, 'c'] = np.nan
df.loc[0, 'd'] = np.nan
df.loc[1, 'a'] = np.nan

In [29]:
df

      a     b    c     d   e
0   NaN   1.0  2.0   NaN   4
1   NaN   NaN  7.0   8.0   9
2  10.0  11.0  NaN  13.0  14

In [30]:
df.fillna(df.mean())

      a     b    c     d   e
0  10.0   1.0  2.0  10.5   4
1  10.0   6.0  7.0   8.0   9
2  10.0  11.0  4.5  13.0  14

In [25]:
df['a'] = df['a'].fillna(-1)

In [31]:
df

      a     b    c     d   e
0   NaN   1.0  2.0   NaN   4
1   NaN   NaN  7.0   8.0   9
2  10.0  11.0  NaN  13.0  14